html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.header {
    height: 10vh;
    background-color: #636b6f;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.links > a {
    color: #fff;
    padding: 0 55px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}