html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 82vh;
}

.header {
    height: 10vh;
    background-color: #636b6f;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flex-left {
    align-items: center;
    display: flex;
    justify-content: left;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 70px;
}

/*.links > a {
    color: #fff;
    padding: 0 55px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}*/

.m-b-md {
    margin-bottom: 30px;
}

.logo {
    text-align: left;
    color: #fff;
    padding: 0 55px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.competitions-preview {
    height: 16vh;
    width: 130vh;
    background-color: #D1D1D1;
}

.competitions-padding {
    height: 5vh;
}

.text > p {
    padding: 0 55px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #636b6f;
}